<div class="banner">
    <img src="/static/img/banner.png" alt="banner image" class="banner-img" />
    <div class="banner-ctn">
        <div class="title">Computer Components</div>
        <div class="text">
            All you need to build or power up your computer
            or even set up your own home lab.
        </div>
        <div class="btn">Discover our collection</div>
    </div>
</div>