<div class="title-nav">
    <div class="title-text previous">Cart</div>
    <div class="title-separator">></div>
    <div class="title-text<%= orderPage[0] %>">Details</div>
    <div class="title-separator">></div>
    <div class="title-text<%= orderPage[1] %>">Shipping</div>
    <div class="title-separator">></div>
    <div class="title-text<%= orderPage[2] %>">Payment</div>
</div>