<div class="order-left">

    <%######################################################################################%>
    <%#       Order Nav Template                                                            %>
    <%######################################################################################%>
    <%- include('./order-nav', {page: orderPage}); %>

    <div class="payment-confirm">
        <img src="/static/img/icon/check.png" alt="check icon" class="check-img" />
        <div class="title">Payment confirmed</div>
        <a href="/purchase/<%= data.orderId %>" class="order-link">ORDER #<%= data.orderId %></a>
        <div class="message">
            <p>Thank you for your purchase!</p>
            <p>Your order will be sent in the following 24 hours (working days).</p>
            <p>You should receive it in 4-5 working days.</p>
        </div>
        <a href="/home" class="button blue">Back to shopping</a>
    </div>
</div>