<div class="product-card">
    <div class="product-card-img">
        <img src="/static/img/products/<% imgPath %>" alt="<% productName %> image" />
    </div>
    <div class="product-card-description">
        <div class="title"><% productName %></div>
        <div class="price"><% productPrice %></div>
    </div>
</div>