<a href="<%= product.link %>" class="product-card">
    <div class="product-card-img">
        <img src="/static/img/products/<%= product.img %>"
             onerror="this.onerror=null;this.src='/static/img/image-not-found.webp'" alt="<%= product.name %> image" />
    </div>
    <div class="product-card-description">
        <div class="title"><% productName %></div>
        <div class="price"><% productPrice %></div>
    </div>
</a>