<% if (!!data) { %>
    <div class="title-nav">
        <div class="title-text<%= data[0].className %>"><%= data[0].title %>></div>
        <% for (let i = 1; i < data.length; ++i) { %>
            <div class="title-separator">></div>
            <div class="title-text<%= data[i].className %>"><%= data[i].title %>></div>
        <% } %>
    </div>
<% } %>