<div class="main-column padding-top3 gap5">
    <img class="error404-img" src="/static/img/404.png" alt="error 404 image" />
    <h1 class="big-title">We didn't find what you were looking for...</h1>
    <a href="/home" class="button blue big-btn">Back to shopping</a>
</div>