<div class="main">

    <%# remove the condition when data.filters is fully implemented %>
    <% if (!!data.filters) { %>

        <div class="filters-ctn">

            <%######################################################################################%>
            <%#       Filters Template                                                              %>
            <%######################################################################################%>
            <%- include('../partials/filters', {filters: data.filters}); %>

        </div>

    <% } %>

    <div class="main-column padding-top3 gap5 flex1">
        <%######################################################################################%>
        <%#       Title Nav Template                                                            %>
        <%######################################################################################%>
        <%- include('../partials/stroll-nav', {data: data.navData}); %>



        <div class="category-ctn">
            <%######################################################################################%>
            <%#       Product-Card Template                                                         %>
            <%######################################################################################%>
            <% data.category.products.forEach(function (product) { %>
                <%- include('../partials/product-card', {product: product}); %>
            <% }); %>

        </div>
    </div>
</div>