<div class="main-column padding-top3">
    <form action="/users/confirm/<%= activationToken %>" method="post" class="auth-form big-shadow">
        <div class="title">Welcome to TakeAByte!</div>
        <div class="confirm-message">
            Click to activate your account
        </div>
        <button type="submit" class="auth-btn blue">Confirm</button>
    </form>
</div>