<div class="main-column padding-top3">
    <form action="/users/forgot-password" method="post" class="auth-form big-shadow">
        <div class="title">Forgot password</div>
        <div class="inputs">
            <label class="abs hidden" for="email"></label>
            <input type="email" name="email" id="email" placeholder="example@email.com" required autofocus />
        </div>
        <button type="submit" class="auth-btn blue">Send</button>
        <div class="separator blue"></div>
        <div class="auth-redirect-link">
            <div class="message">Remember your password?</div>
            <a href="/login" class="link">Login</a>
        </div>
    </form>
</div>