<div class="main-column gap12">

    <%################################################################################%>
    <%#     banner template                                                           %>
    <%################################################################################%>
    <%- include('../partials/banner', {banner: data.banner}); %>


    <%################################################################################%>
    <%#     latest products => products-carousel template                             %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.latest}); %>


    <%################################################################################%>
    <%#     popular products => products-carousel template                            %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.popular}); %>


    <%################################################################################%>
    <%#     random category products => products-carousel template                    %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.random}); %>


</div>