<div class="main-column gap12">

    <%################################################################################%>
    <%#     banner template                                                           %>
    <%################################################################################%>
    <%- include('../partials/banner', {banner: data.banner}); %>


    <%################################################################################%>
    <%#     latest products => products-carousel template                             %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.latest}); %>


    <%################################################################################%>
    <%#     popular products => products-carousel template                            %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.popular}); %>


    <%################################################################################%>
    <%#     random category products => products-carousel template                    %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.random}); %>


</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    // Function that builds the swipers individually
    const buildSwiperSlider = (sliderElm) => {
        const sliderClass = sliderElm.dataset.class;
        return new Swiper(`#${sliderElm.id}`, {
            spaceBetween: 20,
            loop: 'infinite',
            autoplay: {
                enabled: true,
                pauseOnMouseEnter: true,
            },
            effect: 'pagination',
            mousewheel: {
                enabled: true,
                releaseOnEdges: true,
            },
            keyboard: {
                enabled: true,
                onlyInViewport: true,
            },
            breakpoints: {
                // 0px <= window width < 768px (phones)
                0: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                // 768px <= window width < 1024px (tablets)
                768: {
                    slidesPerView: 3,
                    spaceBetween: 25
                },
                // 1024px <= window width (desktop)
                1024: {
                    slidesPerView: 5,
                    spaceBetween: 30,
                },
            },
            pagination: {
                el: `.carousel-nav-${sliderClass}`,
                clickable: true,
                dynamicBullets: true,
            },
        });
    }

    // Get all the swipers on the page
    const allSliders = document.querySelectorAll('.swiper');

    // Loop over all the fetched sliders and apply Swiper on each one.
    allSliders.forEach(slider => buildSwiperSlider(slider));
</script>
