<div class="main-column gap12">

    <%################################################################################%>
    <%#     banner template                                                           %>
    <%################################################################################%>
    <%- include('../partials/banner', {banner: data.banner}); %>


    <%################################################################################%>
    <%#     latest products => products-carousel template                             %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.latest}); %>


    <%################################################################################%>
    <%#     popular products => products-carousel template                            %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.popular}); %>


    <%################################################################################%>
    <%#     random category products => products-carousel template                    %>
    <%################################################################################%>
    <%- include('../partials/products-carousel', {data: data.random}); %>


</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const carousels = document.querySelectorAll('.products-carousel');

        carousels.forEach(carousel => {
            const productList = carousel.querySelector('.products-list');
            const numItems = productList.querySelectorAll('.product-card').length;
            let startX = 0;
            let isDragging = false;
            const itemWidth = carousel.offsetWidth / 4;
            const cloneFirstItem = productList.firstElementChild.cloneNode(true);
            const cloneLastItem = productList.lastElementChild.cloneNode(true);


            productList.appendChild(cloneFirstItem);
            productList.insertBefore(cloneLastItem, productList.firstElementChild);

            let currentIndex = 1; // Start at the first item after the cloned last item

            function updateCarousel() {
                const offset = -currentIndex * itemWidth;
                productList.style.transform = `translateX(${offset}px)`;
            }

            function startDragging(e) {
                e.preventDefault();
                startX = e.clientX || e.touches[0].clientX;
                isDragging = true;
                productList.style.transition = 'none';
            }

            function whileDragging(e) {
                if (!isDragging) return;
                const x = e.clientX || e.touches[0].clientX;
                const deltaX = startX - x;
                startX = x;
                currentIndex += deltaX / itemWidth;
                updateCarousel();
            }

            function stopDragging(e) {
                e.preventDefault();
                isDragging = false;
                productList.style.transition = '';
                currentIndex = Math.round(currentIndex);
                updateCarousel();
            }

            function loopCarousel() {
                if (currentIndex >= numItems + 1) {
                    currentIndex = 1;
                    productList.style.transition = 'none';
                } else if (currentIndex <= 0) {
                    currentIndex = numItems;
                    productList.style.transition = 'none';
                }
                updateCarousel();
            }

            productList.addEventListener('mousedown', startDragging);
            productList.addEventListener('touchstart', startDragging);
            document.addEventListener('mousemove', whileDragging);
            document.addEventListener('touchmove', whileDragging);
            document.addEventListener('mouseup', stopDragging);
            document.addEventListener('touchend', stopDragging);
            document.addEventListener('mouseleave', stopDragging);
            document.addEventListener('touchcancel', stopDragging);

            carousel.addEventListener('transitionend', loopCarousel);

            updateCarousel();
        });
    });
</script>