<div class="main-column padding-top3">
    <form action="" method="post" class="auth-form big-shadow">
        <div class="title">Login</div>
        <div class="msg-ctn"></div>
        <div class="inputs">
            <label class="abs hidden" for="email"></label>
            <input type="email" name="email" id="email" placeholder="example@mail.com" required autofocus />
            <label class="abs hidden" for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password" required />
            <a href="/forgot-password" class="link">Forgot password?</a>
        </div>
        <button type="submit" class="auth-btn blue">Login</button>
        <div class="separator blue"></div>
        <div class="auth-redirect-link">
            <div class="message">Doesn't have an account?</div>
            <a href="/register" class="link">Register</a>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../static/js/loginScript.js"></script>
</div>