<div class="main">
    <div class="order-ctn">

        <%######################################################################################%>
        <%#       Shipping Template                                                             %>
        <%######################################################################################%>
        <%  const attributeClasses = (index) => {
                const classes = ['', '', ''];
                if (index < 0 || index > 2) return classes;
                for (let i = 0; i < index; ++i ) {
                    classes[i] = ' previous';
                }
                classes[index] = ' current';
                return classes;
            };
            let orderPage;
            let pageName;
            switch (data.page) {
                case 'details':
                    orderPage = attributeClasses(0);
                    pageName = 'details';
                    break;
                case 'shipping':
                    orderPage = attributeClasses(1);
                    pageName = 'shipping';
                    break;
                case 'payment':
                    orderPage = attributeClasses(2);
                    pageName = 'payment';
                    break;
        } %>

        <% if (!!pageName) { %>
            <%- include(`../partials/${pageName}`, {orderPage: orderPage}); %>
        <% } %>


    </div>
    <div class="cart-resume-ctn">

        <%######################################################################################%>
        <%#       Cart Resume Template                                                          %>
        <%######################################################################################%>
        <%- include('../partials/cart-resume', {order: data.order}); %>


    </div>
</div>