<div class="main">
    <div class="order-ctn">
        <%######################################################################################%>
        <%#       Shipping Template                                                             %>
        <%######################################################################################%>
        <%
        // Function to determine CSS classes for order steps
        const attributeClasses = (index) => {
            const classes = ['', '', ''];
            if (index < 0 || index > 2) return classes; // Invalid index check
            for (let i = 0; i < index; ++i ) {
                classes[i] = ' previous'; // Mark all previous steps
            }
            classes[index] = ' current'; // Mark the current step
            return classes;
        };

        // Variables to hold the order page classes and the current page name
        let orderPage;
        let pageName;

        // Determine the current step based on data.page
        switch (data.page) {
            case 'address':
                orderPage = attributeClasses(0); // First step
                pageName = 'address';
                break;
            case 'shipping':
                orderPage = attributeClasses(1); // Second step
                pageName = 'shipping';
                break;
            case 'payment':
                orderPage = attributeClasses(2); // Third step
                pageName = 'payment';
                break;
        }
        %>

        <% if (!!pageName) { %>
            <%- include(`../partials/${pageName}`, { orderPage: orderPage, data: data.client }); %>
        <% } %>

    </div>
    <div class="cart-resume-ctn">

        <%######################################################################################%>
        <%#       Cart Resume Template                                                          %>
        <%######################################################################################%>
        <%- include('../partials/cart-resume', {order: data.order}); %>


    </div>
</div>