<div class="main-column padding-top3">
    <form action="" method="post" class="auth-form big-shadow">
        <div class="title">Register</div>
        <div class="inputs">
            <label class="abs hidden" for="username"></label>
            <input type="text" name="username" id="username" placeholder="username" required autofocus />
            <label class="abs hidden" for="email"></label>
            <input type="email" name="email" id="email" placeholder="example@mail.com" required />
            <label class="abs hidden" for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password" required />
            <label class="abs hidden" for="confirm_password"></label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required />
        </div>
        <button type="submit" class="auth-btn blue">Register</button>
        <div class="separator blue"></div>
        <div class="auth-redirect-link">
            <div class="message">Already have an account?</div>
            <a href="/login" class="link">Login</a>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../static/js/registerScript.js"></script>
</div>