<div class="main-column gap5 padding-top3 relative">

    <form action="/search" method="get" class="search-bar">
        <button type="submit" class="search-logo">
            <img src="/static/img/icon/search.png" alt="search logo" />
        </button>
        <label class="abs hidden" for="search"></label>
        <input type="text" name="search" id="search" placeholder="Search..." value="<%= data.search || '' %>" autofocus required />
    </form>

    <%# remove the condition when data.filters is fully implemented %>
    <% if (!!data.filters) { %>

        <div class="filters-ctn abs">

            <%######################################################################################%>
            <%#       Filters Template                                                              %>
            <%######################################################################################%>
            <%- include('../partials/filters', {filters: data.filters}); %>

        </div>

    <% } %>

    <div class="search-ctn">

        <%######################################################################################%>
        <%#       Product-Card Template                                                         %>
        <%######################################################################################%>
        <% data.category.products.forEach(function (product) { %>
            <%- include('../partials/product-card', {product: product}); %>
        <% }); %>

    </div>
</div>