<div class="main-column padding-top3">
    <form action="/users/update-password/<%= updatePwdToken %>" method="post" class="auth-form big-shadow">
        <div class="title">Update password</div>
        <div class="inputs">
            <input type="password" name="password" id="password" placeholder="New password" required autofocus />
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required />
        </div>
        <button type="submit" class="auth-btn blue">Update</button>
        <div class="separator blue"></div>
        <div class="auth-redirect-link">
            <div class="message">Remember your password?</div>
            <a href="/login" class="link">Login</a>
        </div>
    </form>
</div>