@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: clamp(10px, 4px + 0.5vw, 32px);
}
* a {
  text-decoration: none;
  color: #112D4E;
  cursor: pointer;
}

@font-face {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: normal;
}
button,
.button {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  appearance: none;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 200ms ease-in-out 50ms;
}
button.blue,
.button.blue {
  background-color: #3F72AF;
  color: #F9F7F7;
  border: none;
}
button.white,
.button.white {
  border: 2px solid #3F72AF;
  background-color: #F9F7F7;
  color: #3F72AF;
}
button.disabled, button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #DBE2EF;
  color: #112D4E;
  border: none;
  cursor: not-allowed;
}
button:hover:not(.disabled, button[disabled],
.button[disabled]),
.button:hover:not(.disabled, button[disabled],
.button[disabled]) {
  background-color: #FBA834;
  color: #112D4E;
}

body {
  min-height: 100dvh;
  background-color: #F9F7F7;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #112D4E;
}
body header.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.6rem 0;
  background-color: #DBE2EF;
}
body header.header .header-ctn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
body header.header .header-ctn .logo {
  flex: 1;
}
body header.header .header-ctn .logo img.logo-img {
  width: 16rem;
}
body header.header .header-ctn form.search-bar {
  display: flex;
  justify-content: space-between;
  flex: 1 2 initial;
  min-width: 6.7rem;
  gap: 1.8rem;
  padding: 5px 10px;
  width: 28rem;
  height: 2rem;
  border-radius: 0.6rem;
  border: 3px solid #112D4E;
  background-color: #F9F7F7;
  margin-right: 3.6rem;
}
body header.header .header-ctn form.search-bar button.search-logo {
  flex-shrink: 0;
  padding: 0;
  width: 1.7rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}
body header.header .header-ctn form.search-bar button.search-logo img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
body header.header .header-ctn form.search-bar input#search {
  flex: 1;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #112D4E;
  font-weight: 600;
  font-size: 1.2rem;
}
body header.header .header-ctn form.search-bar input#search:focus {
  outline: none;
  appearance: none;
  border: none;
  background: none;
}
body header.header .header-ctn nav.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3rem;
}
body header.header .header-ctn nav.header-nav .header-link {
  display: flex;
  align-items: flex-end;
  line-height: normal;
  gap: 0.7rem;
}
body header.header .header-ctn nav.header-nav .header-link a {
  font-size: 1.5rem;
  white-space: nowrap;
}
body header.header .header-ctn nav.header-nav .header-link .discovery-expandable {
  width: 1rem;
  aspect-ratio: 1;
}
body header.header .header-ctn nav.header-nav .header-link .discovery-expandable img.expand-icon {
  object-fit: contain;
  object-position: bottom;
  transform: translateY(3px);
  width: 100%;
  height: 100%;
}
body header.header .header-ctn .header-btns {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 2.2rem;
}
body header.header .header-ctn .header-btns .account-btn {
  width: 2rem;
  height: 2rem;
}
body header.header .header-ctn .header-btns .account-btn img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body header.header .header-ctn .header-btns .cart-btn {
  width: 2.4rem;
  height: 2.4rem;
}
body header.header .header-ctn .header-btns .cart-btn img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3.6rem 0;
  gap: 2.4rem;
  color: #DBE2EF;
  background-color: #112D4E;
}
body footer.footer .footer-line {
  height: 4px;
  width: 90%;
  border-radius: 4px;
  background-color: #DBE2EF;
}
body footer.footer .footer-ctn {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
body footer.footer .footer-ctn .footer-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
}
body footer.footer .footer-ctn .footer-left .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body footer.footer .footer-ctn .footer-left .top .footer-logo {
  width: 250px;
  height: 50px;
}
body footer.footer .footer-ctn .footer-left .top .footer-logo img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body footer.footer .footer-ctn .footer-left .top .footer-slogan p {
  font-size: 1.4rem;
}
body footer.footer .footer-ctn .footer-left .copyright {
  font-size: 1.2rem;
}
body footer.footer .footer-ctn .footer-links {
  flex: 1;
  display: flex;
  gap: 20%;
}
body footer.footer .footer-ctn .footer-links .link-group {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
body footer.footer .footer-ctn .footer-links .link-group span.title {
  color: #DBE2EF;
  font-size: 1.8rem;
}
body footer.footer .footer-ctn .footer-links .link-group a {
  color: #3F72AF;
  font-size: 1.3rem;
  transition: color 200ms ease-in-out 50ms;
}
body footer.footer .footer-ctn .footer-links .link-group a:hover {
  color: #FBA834;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 5rem 7.5%;
  gap: 3rem;
}
.main .cart .cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.main .cart .cart-header .title {
  font-size: 2.5rem;
}
.main .cart .cart-header a {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .cart .cart-header a:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart .cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.2rem;
}
.main .cart .cart-list .list-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.main .cart .cart-list .list-header span {
  font-size: 1.5rem;
}
.main .cart .cart-list .list-header .label-1 {
  flex: 2;
}
.main .cart .cart-list .list-header .label-2,
.main .cart .cart-list .list-header .label-3 {
  flex: 1;
}
.main .cart .cart-list .separator {
  width: 100%;
  height: 3px;
  background-color: #DBE2EF;
  border-radius: 3px;
}
.main .cart .cart-list .products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.main .cart .cart-list .products-list .cart-product .product-img-info {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-img {
  width: 17rem;
  aspect-ratio: 1;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info .product-name {
  font-size: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info a.remove-link {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info a.remove-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart .cart-list .products-list .cart-product .product-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity {
  width: 3.5rem;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #3F72AF;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .product-quantity .text {
  font-size: 1.1rem;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .minus,
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .plus {
  height: 100%;
  cursor: pointer;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .minus .text,
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .plus .text {
  font-size: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .minus:hover,
.main .cart .cart-list .products-list .cart-product .quantity-ctn .quantity .plus:hover {
  color: #FBA834;
}
.main .cart .cart-list .products-list .cart-product .product-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
.main .cart .cart-list .list-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10rem;
}
.main .cart .cart-list .list-footer .cart-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal .title {
  font-size: 1.6rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal .subtotal-nb {
  color: #3F72AF;
  font-size: 1.7rem;
}
.main .cart .cart-list .list-footer .cart-info .message {
  font-size: 1.4rem;
  color: #3F72AF;
}
.main .cart .cart-list .list-footer .button {
  height: fit-content;
}
.main .order-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 9rem;
}
.main .order-ctn .order-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.main .order-ctn .order-address .title-nav {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 4.5rem;
}
.main .order-ctn .order-address .title-nav .title-text {
  font-size: 1.8rem;
  color: rgba(17, 45, 78, 0.3);
}
.main .order-ctn .order-address .title-nav .title-separator {
  font-size: 1.7rem;
  color: #112D4E;
}
.main .order-ctn .order-address .title-nav .previous {
  color: #3F72AF;
}
.main .order-ctn .order-address .title-nav .current {
  color: #112D4E;
}
.main .order-ctn .order-address form.shipping-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.main .order-ctn .order-address form.shipping-form input {
  flex: 1 1 auto;
  padding: 1rem 0.1rem 1rem 1.5rem;
  appearance: none;
  border: 2px solid #112D4E;
  background: none;
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #112D4E;
  font-weight: 600;
  font-size: 1.3rem;
  min-width: 50px;
}
.main .order-ctn .order-address form.shipping-form input:focus {
  outline: none;
  appearance: none;
  border: 2px solid rgba(63, 114, 175, 0.6);
  background: none;
}
.main .order-ctn .order-address form.shipping-form span.title {
  font-size: 2rem;
}
.main .order-ctn .order-address form.shipping-form .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .contact .contact-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .contact .contact-header .login {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.main .order-ctn .order-address form.shipping-form .contact .contact-header .login .msg {
  color: #112D4E;
  font-size: 1.3rem;
}
.main .order-ctn .order-address form.shipping-form .contact .contact-header .login a.login-link {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .order-ctn .order-address form.shipping-form .contact .contact-header .login a.login-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .order-ctn .order-address form.shipping-form .address {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-street {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-optional {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-city-region {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .address .address-city-region input#address-zip {
  flex-shrink: 5;
}
.main .order-ctn .order-address form.shipping-form .address .address-country {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-address form.shipping-form .btns a.back-link {
  color: #3F72AF;
  font-size: 1.5rem;
}
.main .order-ctn .order-address form.shipping-form .btns a.back-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart-resume-ctn {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 5rem;
  padding-left: 8%;
  width: 42%;
  height: inherit;
  flex: 1;
  background-color: rgba(251, 168, 52, 0.08);
}
.main .cart-resume-ctn .cart-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.7rem;
  width: 60%;
}
.main .cart-resume-ctn .cart-resume .product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main .cart-resume-ctn .cart-resume .product-list .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  aspect-ratio: 1;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-img img {
  width: 90%;
  height: 90%;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-img .quantity {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #3F72AF;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-img .quantity .text {
  color: #DBE2EF;
  font-weight: bold;
  font-size: 1.2rem;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-info .product-name {
  color: #112D4E;
  font-size: 1.6rem;
}
.main .cart-resume-ctn .cart-resume .product-list .product .product-info .product-price {
  color: #3F72AF;
  font-size: 2rem;
}
.main .cart-resume-ctn .cart-resume .separator {
  width: 100%;
  height: 3px;
  background-color: #DBE2EF;
  border-radius: 3px;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn,
.main .cart-resume-ctn .cart-resume .total-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .title,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .title,
.main .cart-resume-ctn .cart-resume .total-ctn .title {
  font-size: 1.3rem;
  color: #112D4E;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .subtotal-ctn .shipping-cost,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .shipping-cost,
.main .cart-resume-ctn .cart-resume .total-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .total-ctn .shipping-cost {
  font-size: 1.3rem;
  color: #3F72AF;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .total,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .total,
.main .cart-resume-ctn .cart-resume .total-ctn .total {
  font-size: 1.8rem;
  color: #3F72AF;
}

/*# sourceMappingURL=style.css.map */
