@import "base";


// ###########################################################################################
// # common elements
// ###########################################################################################

.separator {
  width: 100%;
  height: 3px;
  background-color: $lightblue;
  border-radius: 3px;

  &.dark {
    background-color: $darkblue;
  }
  &.blue {
    background-color: $blue;
  }
  &.orange {
    background-color: $orange;
  }
  &.white {
    background-color: $white;
  }
  &.cream {
    background-color: $cream;
  }
}

.quantity {
  width: 3.5rem;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  border: 2px solid $blue;

  .product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .text {
      font-size: 1.1rem;
    }
  }
  .minus,
  .plus {
    height: 100%;
    cursor: pointer;

    .text {
      font-size: 1.5rem;
    }
    &:hover {
      color: $orange;
    }
  }
}

.main-msg {
  text-align: center;
  font-size: 3.5rem;
}

input:not([type=checkbox]):not([type=radio]) {
  width: calc(100% - 1.6rem);
  padding: 1rem .1rem 1rem 1.5rem;
  appearance: none;
  border: 2px solid $darkblue;
  background: $white;
  outline: none;
  font-family: $font;
  color: $darkblue;
  font-weight: $font-weight;
  font-size: 1.3rem;

  &:focus{
    outline: none;
    appearance: none;
    border: 2px solid transparentize($blue, 0.4);
    background: $white;
  }
}

.alert {
  margin-top: 4rem;
  width: 100%;
  line-height: 4rem;
  font-size: 1.4rem;
  text-align: center;
  color: $darkblue;
  background-color: $cream;
  border: 2px solid $orange;
  border-radius: .5rem;
}

// ###########################################################################################
// # svg elements
// ###########################################################################################

.favorite-button {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 20;

  svg.favorite-icon {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;

    .path-delete-icon {
      stroke: $blue;
      fill: $white;
      stroke-width: 1.7;
    }
    &:hover {
      .path-delete-icon {
        stroke: $orange;
      }
    }
    .st0{
      display: none;
    }
    .st1{
      display: inline;
    }
    .st2{
      fill: $white;
      stroke: $darkblue;
      stroke-width: 8;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .favorite-fill {
      fill: transparent;
    }
    &.favorite {

      .favorite-fill {
        fill: $orange;
      }
      .st2{
        fill: $orange;
      }
    }
  }
}

// ###########################################################################################
// # title nav
// ###########################################################################################

.title-nav {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 4.5rem;

  .title-text {
    font-size: 1.8rem;
    color: transparentize($darkblue, 0.7);
    cursor: not-allowed;
  }
  .title-separator {
    font-size: 1.7rem;
    color: $darkblue;
  }
  .previous {
    color: $blue;
    cursor: pointer;
  }
  .current {
    color: $darkblue;
    cursor: auto;
  }
}

// ###########################################################################################
// # filters
// ###########################################################################################

.filters-ctn {
  width: 14vw;
  padding: 3rem 1.5rem;
  background-color: $darkblue;

  form.filters {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .label {
      font-size: 1.8rem;
      color: $lightblue;
      margin-bottom: -4.5rem;
    }
    input {
      position: absolute;
      display: none;
    }
    .categories,
    .prices,
    .brands {
      display: flex;
      flex-flow: row wrap;
      gap: .5rem;

      label {
        padding: .5rem 1rem;
        font-size: 1.3rem;
        color: $blue;
        background-color: $lightblue;
        border-radius: .5rem;
        cursor: pointer;
      }
    }
    label.selected {
      color: $darkblue;
      background-color: $orange;
    }
    .btn-ctn {
      margin: 0 auto;
    }
  }
}

.sorting-ctn {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;

  .label {
    font-size: 1.3rem;
    color: $blue;
  }
  .sorting {
    padding: .5rem 1rem;
    background-color: $blue;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: $white;
    cursor: pointer;

    &.selected {
      background-color: $orange;
      color: $blue;
    }
  }
}

// ###########################################################################################
// # two sided card (flip clicking on the button)
// ###########################################################################################

.flippable-card {
  width: 100%;
  height: calc(15rem + 35vw);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  border-radius: .5rem;
}
.flippable-card-face {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: $lightblue;
  border-radius: .5rem;
}
.flippable-card-back {
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $lightblue;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.flippable-card-front, .flippable-card-back{
  transition: all .5s linear;
}
.flippable-card-front{
  z-index:1;
}
.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


// ###########################################################################################
// # product card
// ###########################################################################################

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(15rem, 12vw, 35rem);
  height: clamp(25rem, 20vw, calc(calc(35rem / 3) * 5));
  aspect-ratio: 3/5;

  .product-card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .product-card-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .favorite-button {
      top: .5rem;
      right: .5rem;

      .favorite-icon {
        width: 2.5rem;
      }
    }
  }
  .product-card-description {
    width: calc(100% - 2rem);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    height: 7ch;
    padding: 1.5rem 1rem;
    background-color: $lightblue;

    .title {
      font-size: 1.2rem;
      line-clamp: 2 auto;
    }
    .price-ctn {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;

      .alert {
        margin-top: 0;
        line-height: 2rem;
        width: 50%;
      }
      .price {
        flex: 1;
        font-size: 1.3rem;
        color: $blue;
        text-align: right;
      }
    }
  }
}

// ###########################################################################################
// # address suggestion component
// ###########################################################################################

.suggestions {
  border: 1px solid $darkblue;
  padding: 1rem .1rem 1rem 1.5rem;
  background-color: $white;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 1000;
  width: calc(100% - 1.6rem);
  top: 100%;
}
.suggestions .suggestion {
  padding: 8px;
  cursor: pointer;
}
.suggestions .suggestion:hover {
  background-color: $lightblue;
}

// ###########################################################################################
// # template main container (flex column)
// ###########################################################################################

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9rem;


  // ###########################################################################################
  // # error 404 page
  // ###########################################################################################

  .error404-img {
    width: 50%;
  }
  h1.big-title {
    color: $blue;
    font-size: 5rem;
  }

  // ###########################################################################################
  // # login/register/update-password/confirm form template
  // ###########################################################################################

  form.auth-form {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 7rem;
    background-color: $lightblue;
    border-radius: .5rem;

    .title {
      width: max-content;
      text-align: center;
      font-size: 2.7rem;
    }
    .msg-ctn {
      width: 100%;

      .alert {
        margin-top: 0;
      }
    }
    .content-text {
      font-size: 1.5rem;
      text-align: justify;
    }
    .inputs {
      width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1.2rem;
    }
    button.auth-btn {
      min-width: 50%;
    }
    .auth-redirect-link {
      width: 30rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .message {
        font-size: 1.3rem;
        color: $darkblue;
      }
    }
  }



  // ###########################################################################################
  // # title nav container
  // ###########################################################################################

  .title-nav-ctn {
    width: 70%;
    min-width: fit-content;
  }


  // ###########################################################################################
  // # banner template
  // ###########################################################################################

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100dvh - 9.2rem);
    min-height: fit-content;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .banner-ctn {
      z-index: 10;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 7rem;
      background-color: $lightblue;
      border-radius: .5rem;

      .title {
        font-size: 3rem;
      }
      .text {
        font-size: 1.7rem;
        text-align: justify;
      }
    }
  }


  // ###########################################################################################
  // # products-carousel template
  // ###########################################################################################

  .products-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    width: 70%;

    .carousel-title {
      font-size: 2.2rem;
    }
    .products-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


  // ###########################################################################################
  // # category/search template
  // ###########################################################################################

  .category-ctn,
  .search-ctn {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  // ###########################################################################################
  // # search bar (not header)
  // ###########################################################################################

  form.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 2 initial;
    width: 50%;
    gap: 1.8rem;
    padding: .5rem 1.8rem;
    height: 2.5rem;
    border-radius: .7rem;
    border: 3px solid $darkblue;
    background-color: $white;

    button.search-logo {
      flex-shrink: 0;
      padding: 0;
      width: 2rem;
      aspect-ratio: 1;
      background: none;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;

      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    input#search-main {
      flex: 1;
      appearance: none;
      border: none;
      background: none;
      outline: none;
      font-family: "Dosis", sans-serif;
      color: $darkblue;
      font-weight: $font-weight;
      font-size: 1.5rem;

      &:focus{
        outline: none;
        appearance: none;
        border: none;
        background: none;
      }
    }
  }


  // ###########################################################################################
  // # product page
  // ###########################################################################################

  .product-ctn {
    display: flex;
    justify-content: space-between;

    .product {
      display: flex;
      justify-content: center;
      gap: 3.5rem;
      padding: 4rem 0 9rem 0;

      .product-carousel-ctn {
        display: flex;
        flex-direction: column;
        width: 42rem;
        height: calc(42rem + calc(42rem / 3));

        .product-carousel {
          position: relative;
          width: 42rem;
          aspect-ratio: 1;
          overflow: hidden;

          .favorite-button {
            width: 3rem;
          }
          .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .previous,
            .next {
              z-index: 20;
              margin: 0 .5rem;
              cursor: pointer;
              font-size: 2rem;
            }
          }
          .product-img {
            aspect-ratio: 1;

            img {
              object-fit: contain;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }
        }
        .previews {
          display: flex;
          justify-content: center;
          width: 100%;
          height: calc(42rem / 3);
          overflow: hidden;

          img {
            width: 30%;
            aspect-ratio: 1;
          }
        }
      }
      .product-info {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4rem;

        .title {
          min-width: 20ch;
          width: max-content;
          font-size: 1.4rem;
        }

        .generic {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .name {
            font-size: 2.5rem;
          }
          .description {
            font-size: 1.2rem;
            text-align: justify;
            line-height: 1.9rem;
            color: $blue;

            span.description-expand-link {
              margin-left: 1rem;
              font-size: 1.2rem;
              color: $blue;
              cursor: pointer;

              &:hover {
                color: $orange;
              }
            }
          }
        }
        .product-price-ctn {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .alert {
           margin-top: 1rem;
          }
          .quantity-price {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .price {
              font-size: 1.6rem;
            }
          }
          .sales {
            width: 100%;

            .base-price-ctn {
              display: flex;
              justify-content: flex-end;
              gap: 1rem;

              .label {
                font-size: 1.2rem;
                color: $blue;
              }
              .base-price {
                text-decoration: line-through 2px $blue solid;
                font-size: 1.3rem;
                color: $orange;
              }
            }
          }
        }
        .colors {
          width: 100%;
          display: flex;
          align-items: flex-end;
          gap: 5rem;

          .color-list {
            display: flex;
            gap: 1.5rem;

            .color {
              width: 1.8rem;
              aspect-ratio: 1;
              border-radius: 50%;
              border: .2rem solid $darkblue;
              cursor: pointer;
            }
            .color.selected {
              border: .2rem solid $orange;
            }
          }
        }
        .miscellaneous {
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          width: 100%;

          .specification {
            display: flex;
            align-items: flex-end;

            .content {
              flex: 1;
              font-size: 1.3rem;
              color: $blue;
            }
          }
        }
      }
    }
  }


  // ###########################################################################################
  // # text pages (contact-us, about, policies, shipping info...)
  // ###########################################################################################

  .text-page {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;

    h1.title {
      width: max-content;
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
      color: $blue;
      text-align: justify;
    }
    .subtitle {
      font-size: 2.5rem;
      color: $darkblue;
    }
    .label {
      font-size: 2rem;
      color: $darkblue;
    }
  }

  // ###########################################################################################
  // # purchase list (dasboard template)
  // ###########################################################################################

  .purchase-list-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: $darkblue;
  }
  .user-purchase-list-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .user-purchase-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      padding: 5rem 7.5%;
      gap: 3rem;

      .list-header {
        display: flex;
        justify-content: space-between;
        width: 95%;

        span {
          font-size: 1.5rem;
        }
        .label-1,
        .label-2,
        .label-3,
        .label-4 {
          flex: 1;
        }
        .label-5 {
          text-align: right;
          width: 9rem;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;

        .purchase {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 95%;
          height: 4rem;
          padding: 0 2.5%;

          a.purchase-link {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
          &:hover {
            color: $orange;
          }

          .purchase-date {
            font-size: 1.4rem;
            flex: 1;
          }
          .purchase-status {
            font-size: 1.4rem;
            flex: 1;
          }
          .purchase-delivery-date {
            font-size: 1.4rem;
            flex: 1;
          }
          .purchase-items-quantity {
            text-align: center;
            font-size: 1.4rem;
            width: 9rem;
          }
          .purchase-total-price {
            font-size: 1.4rem;
            text-align: right;
            flex: 1;
          }
          &:nth-child(even) {
            background-color: transparentize($cream, 0.3);
          }
        }
      }
    }
  }
}


// ###########################################################################################
// # template main container (flex row)
// ###########################################################################################

.main {
  display: flex;
  justify-content: space-between;


  // ###########################################################################################
  // # dashboard
  // ###########################################################################################

  &.space-around {
    justify-content: space-around;
  }
  .form-ctn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .user-info-ctn {
    display: flex;
    justify-content: center;
    width: calc(40% - 3rem);
    padding: 1.5rem;

    .title {
      width: fit-content;
      font-size: 2.5rem;
    }
    .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 6rem;

      .title-ctn {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .subtitle {
          font-size: 1.7rem;
          width: fit-content;
        }
      }
      .generic-ctn,
      .address-ctn {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .generic,
      .address {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;

        .labels {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 18ch;

          .label {
            font-size: 1.3rem;
            color: $darkblue;
          }
        }
        .values {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .text {
            text-align: justify;
            font-size: 1.3rem;
            color: $blue;
          }
        }
      }
    }
    form.generic-form,
    form.pass-form,
    form.address-form {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5rem;
      width: 100%;
      height: 100%;

      .form-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;

        .address-name,
        .address-street,
        .address-optional,
        .address-city-region,
        .address-country {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1.5rem;
        }
      }
      .form-btns {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      input#address-zip {
        flex-shrink: 1;
      }
    }
  }
  .user-favorites-ctn {
    width: 50%;
    margin-right: 3rem;

    .carousel-title {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    .user-favorites-carousel-ctn.swiper {
      /*padding: 1.8rem 1.2rem;*/
      aspect-ratio: 12/10;

      .favorites-carousel.swiper-wrapper {

        .swiper-slide {
          height: auto;
        }
      }
      .carousel-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .previous {

        }
        .next {

        }
      }
    }
  }


  // ###########################################################################################
  // # cart & purchase templates
  // ###########################################################################################

  .cart,
  .purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 5rem 7.5%;
    gap: 3rem;

    .cart-header {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
    .purchase-header {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15%;

      .alert,
      .title {
        width: 30%;
        p {
          font-size: 1.4rem;
        }
      }
    }
    .cart-empty {
      width: 100%;
      min-height: calc(100dvh - 35rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;

      .alert {
        width: 100%;
        font-size: 1.5rem;
      }
    }

    .cart-header,
    .purchase-header {
      display: flex;
      width: 100%;

      .title {
        font-size: 2.5rem;
      }
      a {
        color: $blue;
        font-size: 1.3rem;

        &:hover {
          color: $orange;
          text-decoration: underline;
        }
      }
    }
    .cart-list,
    .purchase-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2.2rem;

      .list-header {
        display: flex;
        justify-content: space-between;
        width: 95%;

        span {
          font-size: 1.5rem;
        }
        .label-1 {
          flex: 2;
        }
        .label-2,
        .label-3 {
          flex: 1;
        }
        .label-4 {
          text-align: right;
          width: 9rem;
        }
      }
      .products-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;

        .cart-product,
        .purchase-product {
          display: flex;
          justify-content: space-between;
          width: 95%;

          .product-img-info {
            flex: 2;
            display: flex;
            align-items: center;
            gap: 3rem;

            .product-img {
              width: 17rem;
              aspect-ratio: 1;

              img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
              }
            }
            .product-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 1.5rem;

              .product-name {
                font-size: 1.5rem;
              }
              a.remove-link {
                color: $blue;
                font-size: 1.3rem;

                &:hover {
                  color: $orange;
                  text-decoration: underline;
                }
              }
            }
          }
          .product-price,
          .purchase-quantity {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.4rem;
          }
          .quantity-ctn {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

          }
          .product-total {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            font-size: 1.4rem;
            width: 9rem;
          }
        }
      }
      .list-footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 10rem;

        .cart-info,
        .purchase-info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 3rem;

          .subtotal {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 2rem;

            .title {
              font-size: 1.6rem;
            }
            .subtotal-nb {
              color: $blue;
              font-size: 1.7rem;
            }
          }
          .message {
            font-size: 1.4rem;
            color: $blue;
          }
        }
      }
    }
  }


  // ###########################################################################################
  // # order
  // ###########################################################################################

  .order-ctn {
    display: flex;
    justify-content: center;
    width: 50%;
    min-height: calc(100dvh - 27rem);
    padding-top: 2rem;
    padding-bottom: 9rem;

    .order-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 65%;

      .payment-confirm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        img.check-img {
          width: 12rem;
        }
        .title {
          font-size: 2.5rem;
        }
        a.order-link {
          font-size: 1.5rem;
          color: $blue;

          &:hover {
            color: $orange;
            text-decoration: underline;
          }
        }
        .message {
          display: flex;
          flex-direction: column;
          gap: .3rem;

          p {
            font-size: 1.4rem;
            color: $blue;
          }
        }
      }


      form.order-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        input:not([type=checkbox]):not([type=radio]) {
          flex: 1 1 auto;
          padding: 1rem .1rem 1rem 1.5rem;
          appearance: none;
          border: 2px solid $darkblue;
          background: $white;
          outline: none;
          font-family: $font;
          color: $darkblue;
          font-weight: 600;
          font-size: 1.3rem;
          min-width: 50px;

          &:focus{
            outline: none;
            appearance: none;
            border: 2px solid transparentize($blue, 0.4);
            background: $white;
          }
        }
        span.title {
          font-size: 2rem;
        }
        .contact {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 1.2rem;

          .contact-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            gap: 1.2rem;

            .login {
              display: flex;
              gap: .5rem;
              align-items: flex-end;

              .msg {
                color: $darkblue;
                font-size: 1.3rem;
              }
              a.login-link {
                color: $blue;
                font-size: 1.3rem;

                &:hover {
                  color: $orange;
                  text-decoration: underline;
                }
              }
            }
          }
          input#contact-email {}
        }
        .address,
        .payment {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 1.2rem;

          .address-header,
          .payment-header,
          .shipping-header {
            display: flex;
            width: 100%;
            gap: 5rem;

            img {
              height: 3rem;
            }
          }
          .address-name,
          .address-street,
          .address-optional,
          .address-city-region,
          .address-country,
          .card-number,
          .card-holder-name,
          .card-details {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 1.2rem;

            input#address-name {}
            input#address-lastname {}
            input#address-street {}
            input#address-optional {}
            input#address-city {}
            input#address-zip {
              flex-shrink: 5;
            }
            input#address-region {}
            input#address-country {}
            input#card-number{}
            input#card-holder{}
            input#expiration{}
            input#cvv{}
          }
        }
        .recap {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(100% - 2.6rem);
          padding: 1.3rem;
          gap: 1.3rem;
          border: 2px solid $lightblue;
          border-radius: .5rem;

          .contact,
          .shipping-address,
          .shipping-method {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;

            .title {
              font-size: 1.3rem;
              color: $blue;
              flex-shrink: 0;
            }
            .content {
              font-size: 1.3rem;
              flex: 1;
            }
            a.edit-link {
              color: $blue;
              font-size: 1.3rem;
              flex-shrink: 0;

              &:hover {
                color: $orange;
                text-decoration: underline;
              }
            }
          }
        }
        .shipping {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .shipping-method {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100% - 2.6rem);
            padding: 1.3rem;
            gap: 1rem;
            border: 2px solid $lightblue;
            border-radius: .5rem;

            input#shipping-method {
              accent-color: $blue;
            }

            label {
              font-size: 1.3rem;
            }

            span.shipping-cost {
              font-size: 1.3rem;
              font-weight: bold;
              color: $blue;
            }
          }
        }
        .btns {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          gap: 1.2rem;

          a.back-link {
            color: $blue;
            font-size: 1.5rem;

            &:hover {
              color: $orange;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // ###########################################################################################
  // # payment popup error
  // ###########################################################################################

  .popup-msg {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparentize($blue, 0.7);
    backdrop-filter: blur(3px);
    cursor: pointer;
    z-index: 70;

    .modal {
      display: none;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: fixed;
      overflow: auto;
      background-color: $lightblue;
      border: 3px solid $darkblue;
      padding: 4rem 7rem;
      min-width: 20vw;
      min-height: 20dvh;
      border-radius: .7rem;
      z-index: 700;
      cursor: default;

      .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .close {
          position: absolute;
          top: .7rem;
          right: .7rem;
          width: 2.5rem;
          aspect-ratio: 1;
          cursor: pointer;

          .line {
            stroke: $orange;
            stroke-width: 1.69904;
          }

          &:hover,
          &:focus {
            .line {
              stroke: darkred;
              stroke-width: 1.69904;
            }
          }
        }
        .warning-icon {
          width: 4rem;
          aspect-ratio: 1;

          .body {
            fill: $orange;
          }
          .line {
            stroke: $orange;
            stroke-width: 1.7;
          }
        }
        p {
          font-size: 1.7rem;
          text-align: justify;
        }
      }
    }
  }


  // ###########################################################################################
  // # cart resume
  // ###########################################################################################

  .cart-resume-ctn {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 5rem;
    padding-left: 8%;
    padding-bottom: 7rem;
    width: 42%;
    height: inherit;
    flex: 1;
    background-color: $cream;

    .cart-resume {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.7rem;
      width: 60%;

      .product-list-ctn {
        width: 100%;
        max-height: 30dvh;

        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 1.5rem;
          top: 0;
          z-index: 10;
          background: linear-gradient($cream, transparent);
          pointer-events: none;
        }

        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 1.5rem;
          bottom: 0;
          z-index: 10;
          background: linear-gradient(transparent, $cream);
          pointer-events: none;
        }

        .product-list {
          width: calc(100% - .8rem);
          height: calc(100% - 2rem);
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          padding: 1rem .8rem 1rem 0;
          overflow-y: auto;

          a.product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            gap: 0;

            .product-img {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 15rem;
              aspect-ratio: 1;
              flex-shrink: 0;

              img {
                width: 90%;
                height: 90%;
              }
              .quantity-bullet {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                background-color: $blue;

                .text {
                  color: $lightblue;
                  font-weight: bold;
                  font-size: 1.2rem;
                }
              }
            }
            .product-info {
              width: inherit;
              display: flex;
              flex-direction: column;
              gap: 2rem;

              .product-name {
                color: $darkblue;
                font-size: 1.6rem;
              }
              .product-price {
                color: $blue;
                font-size: 2rem;
              }
            }
          }
        }
      }
      .subtotal-ctn,
      .shipping-cost-ctn,
      .total-ctn {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 1.3rem;
          color: $darkblue;
        }
        .subtotal,
        .shipping-cost {
          font-size: 1.3rem;
          color: $blue;
        }
        .total {
          font-size: 1.8rem;
          color: $blue;
        }
      }
    }
  }
}