@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: clamp(10px, 6px + 0.45vw, 32px);
  scrollbar-width: thin;
  scrollbar-color: #112D4E #DBE2EF;
  scrollbar-arrow-color: #3F72AF;
}
* a {
  text-decoration: none;
  color: #112D4E;
  cursor: pointer;
}
* a:hover {
  color: #FBA834;
}
* a.link {
  color: #3F72AF;
  font-size: 1.3rem;
}
* a.link:hover {
  color: #FBA834;
  text-decoration: underline;
}

@font-face {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.full {
  width: 100%;
  height: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.gap12 {
  gap: 12rem;
}

.gap5 {
  gap: 5rem;
}

.padding0 {
  padding: 0 !important;
}

.padding-top3 {
  padding-top: 3rem;
}

.small-shadow {
  box-shadow: rgba(21, 21, 32, 0.1254901961) 0 0.2rem 1.6rem;
}

.big-shadow {
  box-shadow: rgba(21, 21, 32, 0.1254901961) 0 0.5rem 2.2rem;
}

button,
.button {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  appearance: none;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 200ms ease-in-out 50ms;
  height: fit-content;
  width: fit-content;
}
button.blue,
.button.blue {
  background-color: #3F72AF;
  color: #F9F7F7;
  border: none;
}
button:hover:not(.disabled, button[disabled],
.button[disabled]),
.button:hover:not(.disabled, button[disabled],
.button[disabled]) {
  background-color: #FBA834;
  color: #112D4E;
}
button.white,
.button.white {
  border: 2px solid #3F72AF;
  background-color: #F9F7F7;
  color: #3F72AF;
}
button.white:hover:not(.disabled, button.white[disabled],
.button.white[disabled]),
.button.white:hover:not(.disabled, button.white[disabled],
.button.white[disabled]) {
  background-color: #3F72AF;
  color: #F9F7F7;
}
button.disabled, button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #DBE2EF;
  color: #112D4E;
  border: none;
  cursor: not-allowed;
}
button img,
.button img {
  margin: 0 1.5rem 0 0;
  width: 1.2rem;
  aspect-ratio: 1;
}

body {
  min-height: 100dvh;
  background-color: #F9F7F7;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #112D4E;
}
body .page-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body header.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3.6rem 0;
  background-color: #DBE2EF;
}
body header.header .header-ctn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
body header.header .header-ctn .logo {
  flex: 1;
}
body header.header .header-ctn .logo img.logo-img {
  width: 16rem;
}
body header.header .header-ctn form.search-bar {
  display: flex;
  justify-content: space-between;
  flex: 1 2 initial;
  min-width: 6.7rem;
  gap: 1.8rem;
  padding: 5px 10px;
  width: 28rem;
  height: 2rem;
  border-radius: 0.6rem;
  border: 3px solid #112D4E;
  background-color: #F9F7F7;
  margin-right: 3.6rem;
}
body header.header .header-ctn form.search-bar button.search-logo {
  flex-shrink: 0;
  padding: 0;
  width: 1.7rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}
body header.header .header-ctn form.search-bar button.search-logo img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
body header.header .header-ctn form.search-bar input#search {
  flex: 1;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #112D4E;
  font-weight: 600;
  font-size: 1.2rem;
}
body header.header .header-ctn form.search-bar input#search:focus {
  outline: none;
  appearance: none;
  border: none;
  background: none;
}
body header.header .header-ctn nav.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3rem;
}
body header.header .header-ctn nav.header-nav .header-link {
  display: flex;
  align-items: flex-end;
  line-height: normal;
  gap: 0.7rem;
}
body header.header .header-ctn nav.header-nav .header-link a {
  font-size: 1.5rem;
  white-space: nowrap;
}
body header.header .header-ctn nav.header-nav .header-link .discovery-expandable {
  width: 1rem;
  aspect-ratio: 1;
}
body header.header .header-ctn nav.header-nav .header-link .discovery-expandable img.expand-icon {
  object-fit: contain;
  object-position: bottom;
  transform: translateY(3px);
  width: 100%;
  height: 100%;
}
body header.header .header-ctn .header-btns {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 2.2rem;
}
body header.header .header-ctn .header-btns .account-btn {
  width: 2rem;
  height: 2rem;
}
body header.header .header-ctn .header-btns .account-btn img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body header.header .header-ctn .header-btns .cart-btn {
  width: 2.4rem;
  height: 2.4rem;
}
body header.header .header-ctn .header-btns .cart-btn img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body section.template-page {
  flex: 1;
}
body footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3.6rem 0;
  gap: 2.4rem;
  color: #DBE2EF;
  background-color: #112D4E;
}
body footer.footer .footer-line {
  height: 4px;
  width: 90%;
  border-radius: 4px;
  background-color: #DBE2EF;
}
body footer.footer .footer-ctn {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
body footer.footer .footer-ctn .footer-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
}
body footer.footer .footer-ctn .footer-left .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body footer.footer .footer-ctn .footer-left .top .footer-logo {
  width: 250px;
  height: 50px;
}
body footer.footer .footer-ctn .footer-left .top .footer-logo img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
body footer.footer .footer-ctn .footer-left .top .footer-slogan p {
  font-size: 1.4rem;
}
body footer.footer .footer-ctn .footer-left .copyright {
  font-size: 1.2rem;
}
body footer.footer .footer-ctn .footer-links {
  flex: 1;
  display: flex;
  gap: 20%;
}
body footer.footer .footer-ctn .footer-links .link-group {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
body footer.footer .footer-ctn .footer-links .link-group span.title {
  color: #DBE2EF;
  font-size: 1.8rem;
}
body footer.footer .footer-ctn .footer-links .link-group a {
  color: #3F72AF;
  font-size: 1.3rem;
  transition: color 200ms ease-in-out 50ms;
}
body footer.footer .footer-ctn .footer-links .link-group a:hover {
  color: #FBA834;
}

.separator {
  width: 100%;
  height: 3px;
  background-color: #DBE2EF;
  border-radius: 3px;
}
.separator.dark {
  background-color: #112D4E;
}
.separator.blue {
  background-color: #3F72AF;
}
.separator.orange {
  background-color: #FBA834;
}
.separator.white {
  background-color: #F9F7F7;
}
.separator.cream {
  background-color: #F7EFE6;
}

.quantity {
  width: 3.5rem;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #3F72AF;
}
.quantity .product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quantity .product-quantity .text {
  font-size: 1.1rem;
}
.quantity .minus,
.quantity .plus {
  height: 100%;
  cursor: pointer;
}
.quantity .minus .text,
.quantity .plus .text {
  font-size: 1.5rem;
}
.quantity .minus:hover,
.quantity .plus:hover {
  color: #FBA834;
}

.title-nav {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 4.5rem;
}
.title-nav .title-text {
  font-size: 1.8rem;
  color: rgba(17, 45, 78, 0.3);
}
.title-nav .title-separator {
  font-size: 1.7rem;
  color: #112D4E;
}
.title-nav .previous {
  color: #3F72AF;
}
.title-nav .current {
  color: #112D4E;
}

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9rem;
}
.main-column form.auth-form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 7rem;
  background-color: #DBE2EF;
  border-radius: 0.5rem;
}
.main-column form.auth-form .title {
  width: max-content;
  text-align: center;
  font-size: 2.7rem;
}
.main-column form.auth-form .content-text {
  font-size: 1.5rem;
  text-align: justify;
}
.main-column form.auth-form .inputs {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2rem;
}
.main-column form.auth-form .inputs input {
  width: calc(100% - 1.6rem);
  padding: 1rem 0.1rem 1rem 1.5rem;
  appearance: none;
  border: 2px solid #112D4E;
  background: #F9F7F7;
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #112D4E;
  font-weight: 600;
  font-size: 1.3rem;
}
.main-column form.auth-form .inputs input:focus {
  outline: none;
  appearance: none;
  border: 2px solid rgba(63, 114, 175, 0.6);
  background: #F9F7F7;
}
.main-column form.auth-form button.auth-btn {
  min-width: 50%;
}
.main-column form.auth-form .auth-redirect-link {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-column form.auth-form .auth-redirect-link .message {
  font-size: 1.3rem;
  color: #112D4E;
}
.main-column .title-nav-ctn {
  width: 70%;
  min-width: fit-content;
}
.main-column .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 9.2rem);
  min-height: fit-content;
}
.main-column .banner img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main-column .banner .banner-ctn {
  z-index: 10;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 7rem;
  background-color: #DBE2EF;
  border-radius: 0.5rem;
}
.main-column .banner .banner-ctn .title {
  font-size: 3rem;
}
.main-column .banner .banner-ctn .text {
  font-size: 1.7rem;
  text-align: justify;
}
.main-column .products-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  width: 70%;
}
.main-column .products-carousel .title {
  font-size: 2.2rem;
}
.main-column .products-carousel .products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-column .category-ctn {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.main-column .product-card {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-column .product-card .product-card-img {
  width: 100%;
  aspect-ratio: 1;
}
.main-column .product-card .product-card-img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main-column .product-card .product-card-description {
  width: calc(100% - 2rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1.5rem 1rem;
  background-color: #DBE2EF;
}
.main-column .product-card .product-card-description .title {
  font-size: 1.4rem;
}
.main-column .product-card .product-card-description .price {
  font-size: 1.5rem;
  color: #3F72AF;
  text-align: right;
}
.main-column .product-ctn {
  display: flex;
  justify-content: space-between;
}
.main-column .product-ctn .product {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  padding: 4rem 0 9rem 0;
}
.main-column .product-ctn .product .product-carousel {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-column .product-ctn .product .product-carousel .product-img {
  width: 70%;
  aspect-ratio: 1;
}
.main-column .product-ctn .product .product-carousel .product-img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main-column .product-ctn .product .product-carousel .previews {
  display: flex;
  justify-content: center;
  width: 70%;
}
.main-column .product-ctn .product .product-carousel .previews img {
  width: 30%;
  flex: 1;
  aspect-ratio: 1;
}
.main-column .product-ctn .product .product-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
}
.main-column .product-ctn .product .product-info .title {
  min-width: 20ch;
  width: max-content;
  font-size: 1.4rem;
}
.main-column .product-ctn .product .product-info .generic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-column .product-ctn .product .product-info .generic .name {
  font-size: 2.5rem;
}
.main-column .product-ctn .product .product-info .generic .description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.9rem;
  color: #3F72AF;
}
.main-column .product-ctn .product .product-info .quantity-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-column .product-ctn .product .product-info .quantity-price .price {
  font-size: 1.6rem;
}
.main-column .product-ctn .product .product-info .colors {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}
.main-column .product-ctn .product .product-info .colors .color-list {
  display: flex;
  gap: 1.5rem;
}
.main-column .product-ctn .product .product-info .colors .color-list .color {
  width: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.2rem solid #112D4E;
  cursor: pointer;
}
.main-column .product-ctn .product .product-info .colors .color-list .color.selected {
  border: 0.2rem solid #FBA834;
}
.main-column .product-ctn .product .product-info .miscellaneous {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}
.main-column .product-ctn .product .product-info .miscellaneous .specification {
  display: flex;
  align-items: flex-end;
}
.main-column .product-ctn .product .product-info .miscellaneous .specification .content {
  flex: 1;
  font-size: 1.3rem;
  color: #3F72AF;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 5rem 7.5%;
  gap: 3rem;
}
.main .cart .cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.main .cart .cart-header .title {
  font-size: 2.5rem;
}
.main .cart .cart-header a {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .cart .cart-header a:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart .cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.2rem;
}
.main .cart .cart-list .list-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.main .cart .cart-list .list-header span {
  font-size: 1.5rem;
}
.main .cart .cart-list .list-header .label-1 {
  flex: 2;
}
.main .cart .cart-list .list-header .label-2,
.main .cart .cart-list .list-header .label-3 {
  flex: 1;
}
.main .cart .cart-list .products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.main .cart .cart-list .products-list .cart-product .product-img-info {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-img {
  width: 17rem;
  aspect-ratio: 1;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info .product-name {
  font-size: 1.5rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info a.remove-link {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .cart .cart-list .products-list .cart-product .product-img-info .product-info a.remove-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart .cart-list .products-list .cart-product .product-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
.main .cart .cart-list .products-list .cart-product .quantity-ctn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .cart .cart-list .products-list .cart-product .product-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
.main .cart .cart-list .list-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10rem;
}
.main .cart .cart-list .list-footer .cart-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal .title {
  font-size: 1.6rem;
}
.main .cart .cart-list .list-footer .cart-info .subtotal .subtotal-nb {
  color: #3F72AF;
  font-size: 1.7rem;
}
.main .cart .cart-list .list-footer .cart-info .message {
  font-size: 1.4rem;
  color: #3F72AF;
}
.main .order-ctn {
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: calc(100dvh - 27rem);
  padding-top: 2rem;
  padding-bottom: 9rem;
}
.main .order-ctn .order-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}
.main .order-ctn .order-left form.order-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.main .order-ctn .order-left form.order-form input:not([type=radio]) {
  flex: 1 1 auto;
  padding: 1rem 0.1rem 1rem 1.5rem;
  appearance: none;
  border: 2px solid #112D4E;
  background: #F9F7F7;
  outline: none;
  font-family: "Dosis", sans-serif;
  color: #112D4E;
  font-weight: 600;
  font-size: 1.3rem;
  min-width: 50px;
}
.main .order-ctn .order-left form.order-form input:not([type=radio]):focus {
  outline: none;
  appearance: none;
  border: 2px solid rgba(63, 114, 175, 0.6);
  background: #F9F7F7;
}
.main .order-ctn .order-left form.order-form span.title {
  font-size: 2rem;
}
.main .order-ctn .order-left form.order-form .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-left form.order-form .contact .contact-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-left form.order-form .contact .contact-header .login {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.main .order-ctn .order-left form.order-form .contact .contact-header .login .msg {
  color: #112D4E;
  font-size: 1.3rem;
}
.main .order-ctn .order-left form.order-form .contact .contact-header .login a.login-link {
  color: #3F72AF;
  font-size: 1.3rem;
}
.main .order-ctn .order-left form.order-form .contact .contact-header .login a.login-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .order-ctn .order-left form.order-form .address,
.main .order-ctn .order-left form.order-form .payment {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-left form.order-form .address .address-header,
.main .order-ctn .order-left form.order-form .address .payment-header,
.main .order-ctn .order-left form.order-form .address .shipping-header,
.main .order-ctn .order-left form.order-form .payment .address-header,
.main .order-ctn .order-left form.order-form .payment .payment-header,
.main .order-ctn .order-left form.order-form .payment .shipping-header {
  display: flex;
  width: 100%;
  gap: 5rem;
}
.main .order-ctn .order-left form.order-form .address .address-header img,
.main .order-ctn .order-left form.order-form .address .payment-header img,
.main .order-ctn .order-left form.order-form .address .shipping-header img,
.main .order-ctn .order-left form.order-form .payment .address-header img,
.main .order-ctn .order-left form.order-form .payment .payment-header img,
.main .order-ctn .order-left form.order-form .payment .shipping-header img {
  height: 3rem;
}
.main .order-ctn .order-left form.order-form .address .address-name,
.main .order-ctn .order-left form.order-form .address .address-street,
.main .order-ctn .order-left form.order-form .address .address-optional,
.main .order-ctn .order-left form.order-form .address .address-city-region,
.main .order-ctn .order-left form.order-form .address .address-country,
.main .order-ctn .order-left form.order-form .address .card-number,
.main .order-ctn .order-left form.order-form .address .card-holder-name,
.main .order-ctn .order-left form.order-form .address .card-details,
.main .order-ctn .order-left form.order-form .payment .address-name,
.main .order-ctn .order-left form.order-form .payment .address-street,
.main .order-ctn .order-left form.order-form .payment .address-optional,
.main .order-ctn .order-left form.order-form .payment .address-city-region,
.main .order-ctn .order-left form.order-form .payment .address-country,
.main .order-ctn .order-left form.order-form .payment .card-number,
.main .order-ctn .order-left form.order-form .payment .card-holder-name,
.main .order-ctn .order-left form.order-form .payment .card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-left form.order-form .address .address-name input#address-zip,
.main .order-ctn .order-left form.order-form .address .address-street input#address-zip,
.main .order-ctn .order-left form.order-form .address .address-optional input#address-zip,
.main .order-ctn .order-left form.order-form .address .address-city-region input#address-zip,
.main .order-ctn .order-left form.order-form .address .address-country input#address-zip,
.main .order-ctn .order-left form.order-form .address .card-number input#address-zip,
.main .order-ctn .order-left form.order-form .address .card-holder-name input#address-zip,
.main .order-ctn .order-left form.order-form .address .card-details input#address-zip,
.main .order-ctn .order-left form.order-form .payment .address-name input#address-zip,
.main .order-ctn .order-left form.order-form .payment .address-street input#address-zip,
.main .order-ctn .order-left form.order-form .payment .address-optional input#address-zip,
.main .order-ctn .order-left form.order-form .payment .address-city-region input#address-zip,
.main .order-ctn .order-left form.order-form .payment .address-country input#address-zip,
.main .order-ctn .order-left form.order-form .payment .card-number input#address-zip,
.main .order-ctn .order-left form.order-form .payment .card-holder-name input#address-zip,
.main .order-ctn .order-left form.order-form .payment .card-details input#address-zip {
  flex-shrink: 5;
}
.main .order-ctn .order-left form.order-form .recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2.6rem);
  padding: 1.3rem;
  gap: 1.3rem;
  border: 2px solid #DBE2EF;
  border-radius: 0.5rem;
}
.main .order-ctn .order-left form.order-form .recap .contact,
.main .order-ctn .order-left form.order-form .recap .shipping-address,
.main .order-ctn .order-left form.order-form .recap .shipping-method {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.main .order-ctn .order-left form.order-form .recap .contact .title,
.main .order-ctn .order-left form.order-form .recap .shipping-address .title,
.main .order-ctn .order-left form.order-form .recap .shipping-method .title {
  font-size: 1.3rem;
  color: #3F72AF;
  flex-shrink: 0;
}
.main .order-ctn .order-left form.order-form .recap .contact .content,
.main .order-ctn .order-left form.order-form .recap .shipping-address .content,
.main .order-ctn .order-left form.order-form .recap .shipping-method .content {
  font-size: 1.3rem;
  flex: 1;
}
.main .order-ctn .order-left form.order-form .recap .contact a.edit-link,
.main .order-ctn .order-left form.order-form .recap .shipping-address a.edit-link,
.main .order-ctn .order-left form.order-form .recap .shipping-method a.edit-link {
  color: #3F72AF;
  font-size: 1.3rem;
  flex-shrink: 0;
}
.main .order-ctn .order-left form.order-form .recap .contact a.edit-link:hover,
.main .order-ctn .order-left form.order-form .recap .shipping-address a.edit-link:hover,
.main .order-ctn .order-left form.order-form .recap .shipping-method a.edit-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .order-ctn .order-left form.order-form .shipping {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .order-ctn .order-left form.order-form .shipping .shipping-method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2.6rem);
  padding: 1.3rem;
  gap: 1rem;
  border: 2px solid #DBE2EF;
  border-radius: 0.5rem;
}
.main .order-ctn .order-left form.order-form .shipping .shipping-method input#shipping-method {
  accent-color: #3F72AF;
}
.main .order-ctn .order-left form.order-form .shipping .shipping-method label {
  font-size: 1.3rem;
}
.main .order-ctn .order-left form.order-form .shipping .shipping-method span.shipping-cost {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3F72AF;
}
.main .order-ctn .order-left form.order-form .btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1.2rem;
}
.main .order-ctn .order-left form.order-form .btns a.back-link {
  color: #3F72AF;
  font-size: 1.5rem;
}
.main .order-ctn .order-left form.order-form .btns a.back-link:hover {
  color: #FBA834;
  text-decoration: underline;
}
.main .cart-resume-ctn {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 5rem;
  padding-left: 8%;
  padding-bottom: 7rem;
  width: 42%;
  height: inherit;
  flex: 1;
  background-color: #F7EFE6;
}
.main .cart-resume-ctn .cart-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.7rem;
  width: 60%;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn {
  width: 100%;
  max-height: 30dvh;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5rem;
  top: 0;
  z-index: 10;
  background: linear-gradient(#F7EFE6, transparent);
  pointer-events: none;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5rem;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(transparent, #F7EFE6);
  pointer-events: none;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list {
  width: calc(100% - 0.8rem);
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem 0.8rem 1rem 0;
  overflow-y: auto;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 0;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  aspect-ratio: 1;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-img img {
  width: 90%;
  height: 90%;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-img .quantity-bullet {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #3F72AF;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-img .quantity-bullet .text {
  color: #DBE2EF;
  font-weight: bold;
  font-size: 1.2rem;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-info {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-info .product-name {
  color: #112D4E;
  font-size: 1.6rem;
}
.main .cart-resume-ctn .cart-resume .product-list-ctn .product-list a.product .product-info .product-price {
  color: #3F72AF;
  font-size: 2rem;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn,
.main .cart-resume-ctn .cart-resume .total-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .title,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .title,
.main .cart-resume-ctn .cart-resume .total-ctn .title {
  font-size: 1.3rem;
  color: #112D4E;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .subtotal-ctn .shipping-cost,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .shipping-cost,
.main .cart-resume-ctn .cart-resume .total-ctn .subtotal,
.main .cart-resume-ctn .cart-resume .total-ctn .shipping-cost {
  font-size: 1.3rem;
  color: #3F72AF;
}
.main .cart-resume-ctn .cart-resume .subtotal-ctn .total,
.main .cart-resume-ctn .cart-resume .shipping-cost-ctn .total,
.main .cart-resume-ctn .cart-resume .total-ctn .total {
  font-size: 1.8rem;
  color: #3F72AF;
}

/*# sourceMappingURL=style.css.map */
